:root {
  --font-family-1: "Arial, Helvetica, sans-serif";
  --color-text-1: #fff;
  --font-family-2: "" Franklin Gothic Medium ", " Arial Narrow
    ", Arial, sans-serif";
  --background-color-1: #fdf504;
}

div.logo {
  width: 10rem;
  height: 10rem;
}
nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
div.menu {
  display: flex;
  flex-direction: column;
}
div.user > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
ul > li > a > span {
  font-size: larger;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
}
span.Other {
  opacity: 0.3;
}
li {
  padding: 0.5rem;
}
div.other > h5 {
  opacity: 0.5;
  padding: 0 0 0 0.8rem;
}
li:hover {
  background-color: var(--background-color-1);
}
